CustomButton {
    color: white;
}

CustomButton[counter="0"] {
    background-color: green;
    color: white;
}
CustomButton[counter="1"] {
    background-color: yellow;
    color: black;
}
CustomButton[counter="2"] {
    background-color: red;
    color: white;
} 

CustomButton:hover {
    background-color: rgb(31, 31, 31);
}